.header {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  border-bottom: 1px solid #d7dde9;
  padding: 0 0 1.5rem 0;
  margin: 1.5rem 3.5rem 0;
  align-items: center;
}

.title {
  font-weight: 500;
  line-height: 1.3;
  font-size: 1.5rem;
  margin-left: 6rem;
}

.date {
  opacity: 0.54;
}
