.header {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  border-bottom: 1px solid #d7dde9;
  padding: 0 0 1.5rem 0;
  margin: 1.5rem 3.5rem 0;
  align-items: center;

  @media (max-width: 925px) {
    flex-direction: column;
  }

  @media (max-width: 500px) {
    align-items: start;
  }
}

.title {
  font-weight: 500;
  line-height: 1.3;
  font-size: 1.5rem;
  margin-left: 6rem;

  @media (max-width: 925px) {
    margin-left: 0;
  }

  @media (max-width: 500px) {
    font-size: 1rem;
    line-height: 1.2;
  }
}

.date {
  opacity: 0.54;
  font-weight: 400;

  @media (max-width: 500px) {
    font-size: 1rem;
    line-height: 1.2;
  }

  @media (max-width: 364px) {
    width: 20rem;
  }
}
