$blue-gradient: linear-gradient(90deg, #0796d3 0%, #53c0f0 100%);
$red-gradient: linear-gradient(90deg, #d30707 100%, #f05353 100%);
$background: #ffffff;
$taskInProgress: #000000;
$taskCompleted: #000000;
$hover: #f7f9fd;
$white: #ffffff;
$black: #000000;
