@import "../../styles/themes/default.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5rem;
  border: 1px solid #eaecf0;
  padding: 2rem;
  gap: 1.5rem;
  border-radius: 16px;
  width: 28.125rem;
  box-shadow: 0px 1px 2px 0px #1018280d;

  @media (max-width: 500px) {
    width: 17rem;
  }
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  opacity: 54%;
}

.todoList {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.noTaskText {
  font-size: 0.75rem;
  opacity: 54%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}

.tasks {
  display: flex;
  justify-content: space-between;
  border: 1px dashed #d7dde9;
  border-radius: 8px;
  padding: 1rem;
  gap: 1rem;

  width: 100%;

  &:hover {
    background-color: $hover;
    border-style: solid;

    .trashIcon,
    .taskTitle,
    .titleOfCompletedTask {
      background-color: $hover;
    }
  }
}

.task {
  display: flex;
}

.checkbox {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid #0796d3;
  border-radius: 4px;
  cursor: pointer;
  position: relative;

  &:checked {
    background-color: #a0dcf6;

    &::after {
      content: "";
      position: absolute;
      top: 40%;
      left: 50%;
      width: 4px;
      height: 8px;
      border: solid #0796d3;
      border-width: 0 2px 2px 0;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &:focus {
    outline: none;
  }
}

.taskTitle {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  padding-left: 1rem;
}

.trashIcon {
  color: #b0bbd1;
  cursor: pointer;
}

.addTaskButton {
  width: 28.125rem;
  height: 3.188rem;
  background: $blue-gradient;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  color: $white;
  border: none;
  cursor: pointer;

  @media (max-width: 500px) {
    width: 17rem;
  }
}

.titleOfCompletedTask {
  text-decoration: line-through;
  opacity: 54%;
  line-height: 1.2;
  font-weight: 400;
  padding-left: 1rem;
}
