@import "../../styles/themes/default.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5rem;
  border: 1px solid #eaecf0;
  padding: 2rem;
  gap: 1.5rem;
  border-radius: 16px;
  width: 28.125rem;
  box-shadow: 0px 1px 2px 0px #1018280d;
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  opacity: 54%;
}

.todo__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.tasks {
  display: flex;
  justify-content: space-between;
  border: 1px dashed #d7dde9;
  border-radius: 8px;
  padding: 1rem;
  gap: 1rem;

  width: 100%;

  &:hover {
    background-color: $hover;
    border-style: solid;

    .trash__icon,
    .task__title {
      background-color: $hover;
    }
  }
}

.task {
  display: flex;
  column-gap: 1rem;
}

.checkbox {
  cursor: pointer;
}

.task__title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
}

.trash__icon {
  color: #b0bbd1;
  cursor: pointer;
}

.addTask__button {
  width: 28.125rem;
  height: 3.188rem;
  background: $blue-gradient;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  color: $white;
  border: none;
  cursor: pointer;
}
